/* .slide-wrapper-body{

    display: flex;
    align-items: center;
    justify-content: center;
  }
  .slide-container{
    max-width: 1120px;
    width: 100%;
    background-color: bisque;
    padding: 40px 0;
  }
  .slide-content{
    margin: 0 40px;
  
  }
  .image-content{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 10px 14px;
  }
  .card{
    width: 320px;
    border-radius: 25px;
    background-color: gray;
  }
  .card-image{
    position: relative;
    height: 240px;
    width: 240px;
  }
  .card-image .card-img{
    height: 100%;
    width: 100%;
    object-fit: cover;
    border-radius: 10px;
  }
  .image-content{
    position: relative;
    row-gap: 5px;
  
  }
  .name{
    font-size: 18px;
    color: blue;
    margin-left: 28px;
  }
  .description{
    font-size: 20px;
    text-align: center;
  }
  .overlay{
    position: absolute;
    left: 0;
    top:0;
    height: 100%;
    width: 100%;
    background-color: aliceblue;
  } */

  .trendler-grid {
    display: grid;
    grid-template-columns: 800px repeat(4, 200px);
    grid-gap: 20px;
  }
  
  .buyuk-haber,
  .kucuk-haber {
    border: 1px solid #ccc;
    padding: 20px;
  }
  
  .buyuk-haber img,
  .kucuk-haber img {
    width: 100%;
    height: auto;
  }
  
  .buyuk-haber h3,
  .kucuk-haber h3 {
    margin-top: 10px;
  }
  
  .buyuk-haber p,
  .kucuk-haber p {
    margin-top: 5px;
  }
  


  /* <div class="buyuk-slide-item">
        <div class="buyuk-slide-yazi">
          <div class="buyuk-slide-resim"><img src="images/bulutistan.jpg" alt="resim">
            <div class="buyuk-slide-tarih">
              <span>Bulutistan</span>
              <span>25 Temmuz 2023</span>
            </div>
          </div>
          <div class="buyuk-slide-paragraf">
            <span>Bulut</span>
            <h2>Bulut Ağı Nedir?İşletmelere Ne Fayda Sağlar? </h2>
          </div>
        </div>
      </div> */