
::selection {
  background-color: #f27405;
  color: white;
}

body {
  font-family: "Rubik", sans-serif;
  color: #1c1b1a;
  font-size: 18px;

  margin: 0;
}
.container {
  display: flex;
  align-items: center;
  justify-content: center;
}
.container.slide {
  flex-direction: column;
}
button:focus {
  outline: 0;
}

a {
  text-decoration: none;
  color: black;
  cursor: pointer;
}

li {
  list-style-type: none;
}

/* Header start */

.header-sticky {
  height: 65px ;
  .contact {
    display: none;
  }

  .logo {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    height: 70px;
    width: 179px;
    padding: 0 10px;
  }

  .logo img {
    width: 158px;
    height: 38px;
  }
}

.header {
  position: sticky;
  width: 100%;
  background-color: #fff;
  box-shadow: rgba(33, 35, 38, 0.1) 0px 10px 10px -10px;

  top: 0;
  z-index: 999;
  display: flex;
  align-items: center;
  transform: 1s ease-in-out;
}

.wrapper .nav .navbar-items li a {
  font-size: 16px;
  transition: color 0.3s ease;
}
.wrapper .nav .navbar-items li a:hover {
  color: #7a7a7a;
}
.logo {
  display: flex;
  flex: 0.5;
  align-items: center;
  justify-content: center;
  height: 110px;
  box-shadow: #f27405 10px 0px 10px -10px;
  padding-left: 10px;
  padding-right: 10px;
}

.menu-navbar {
  /* background-color: blue; */
  flex: 4;
}

.contact {
  font-size: 16px !important;
  box-shadow: rgba(33, 35, 38, 0.1) 0px 10px 10px -10px;
  width: 100%;
  height: 35px;
  display: flex;
  align-items: center;
  justify-content: end;
}

.contact ul {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
  padding-right: 30px;
}
.contact li a {
  font-size: 16px !important;
  display: flex;
  align-items: center;
  gap: 10px;
  transition: all 0.5s;
}
.contact li img {
  width: 18px;
  height: 18px;
}

.wrapper {
  display: flex;
  justify-content: space-between;
  width: 100%;
  order: 1;
}

.navbar {
  display: flex;
  align-items: center;
  font-family: "Rubik", sans-serif;
  color: #1c1b1a;
  font-size: 18px;
  width: 100%;
}

.navbar-items {
  display: flex;
  gap: 40px;
  align-items: center;
  padding-left: 30px;
  cursor: pointer;
}

.nav {
  color: var(#1c1b1a);
  padding: 8px 15px;
  border-radius: 5%;
}

#iletisim-li {
  text-decoration: underline !important;
  color: #f27405 !important;
}

.menu-button {
  display: none;
  margin-right: -10px;
}

.buttons {
  display: flex;
  justify-content: end;
  width: 100%;
  padding-right: 30px;
}

.buttons a {
  padding: 15px 30px !important;
  color: #f27405;
  border-radius: 5%;
  font-weight: 500;
  font-size: 16px;

  cursor: pointer;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px,
    rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
  transition: all ease 0.4s;
}

.menu-button i {
  font-size: 50px;
  color: #f27405;
}

/* Header End */

/* Ana Sayfa start */
.blog-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 1200px;
  margin-top: 30px;
  color: white;
}

.haber-resim img {
  border-radius: 5%;
}

.blog {
  height: auto;
  width: 100%;
  display: flex;
}

.ana-sayfa-resim-wrapper {
  width: 800px;
  height: 538px;
  padding-top: 27px;
  border-radius: 3%;
  display: flex;
  flex-direction: column;
  background: rgba(0, 0, 0, 0.45)
    url("https://enterprisetalk.com/wp-content/uploads/2021/01/Cloud-Computing-Trends-and-Predictions-for-2021.jpg");
  background-blend-mode: darken;
}

.bulut-span {
  color: blue;
  font-size: 14px;
}
h2 {
  margin-top: 0;
}
h2,
h5 {
  color: #1c1b1a;
}

.ana-sayfa-sag-baslik h2 {
  font-size: 1.5rem;
  margin-top: 0;
}
.haber {
  box-shadow: rgba(0, 0, 0, 0.3) 0px 2px 3px -2px;
  display: flex;
  align-items: start;
  justify-content: start;
  margin-top: 20px;
  padding: 0;
  margin-bottom: 56.5px;
  height: 81px;
  position: relative;
  cursor: pointer;
}

.ana-sayfa-sag {
  height: auto;
  display: flex;
  flex-direction: column;
  width: 400px; /* Genişlik oranı 2/3 */
}
.ana-sayfa-resim-tarih {
  width: 100%;
  height: 200px;
  display: flex;
  padding-left: 10px;
  align-items: flex-start;
  margin-left: 17px;
}

.ana-sayfa-resim {
  width: 50px;
  height: 50px;
  border-radius: 50%;
}

.ana-sayfa-tarih {
  display: flex;
  flex-direction: column;
  padding: 10px;
  margin-top: -7px;
  gap: 3px;
  font-size: 1.05rem;
}

.ana-sayfa-resim-baslik {
  height: auto;
  width: 100%;
  padding-left: 20px;
  margin-left: 12px;
  display: flex;
  flex-direction: column;
  margin-top: 118px;
}

.ana-sayfa-resim-paragraf {
  width: 70%;
  padding-top: 15px;
}

.ana-sayfa-sag-baslik {
  height: 30px;
  display: inline-flex;
  flex-direction: column;
  padding-left: 40px;
}

.haber-baslik span {
  display: inline-flex;
  margin-left: 10px;
  margin-top: 8px;
}

.haber-baslik {
  display: flex;
  flex-direction: column;
}

.haber-baslik h2 {
  font-size: 1.05rem;
  margin-left: 10px;
  margin-top: 5px;
}

/* Ana Sayfa Son */

/* Slider start */
.slider-wrapper-body {
  display: flex;
  flex-direction: column;
  padding: 0 35px;
  align-items: center;
  justify-content: center;
  min-height: 50vh;
}
.slide-baslik-h2 {
  margin-top: 8px !important;
}
.slide-baslik-span {
  color: #6a6d78;
  font-size: 1rem;
}
.slide-wrapper {
  max-width: 1200px;
  width: 100%;
  position: relative;
}
.slide-wrapper i {
  top: 50%;
  height: 50px;
  width: 50px;
  cursor: pointer;
  font-size: 1.25rem;
  position: absolute;
  text-align: center;
  line-height: 50px;
  background: #fff;
  border-radius: 50%;
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.23);
  transform: translateY(-50%);
  transition: transform 0.1s linear;
  z-index: 10;
}
.slide-wrapper i:active {
  transform: translateY(-50%) scale(0.85);
}
.slide-wrapper i:first-child {
  left: -26px;
}
.slide-wrapper i:last-child {
  right: -26px;
}
.slide-wrapper .carousel {
  display: grid;
 
  grid-auto-flow: column;
  grid-auto-columns: calc((100% / 4) - 2px);
  overflow-x: auto;
  scroll-snap-type: x mandatory;
  gap: 16px;
  scroll-behavior: smooth;
  scrollbar-width: none;
}
.carousel::-webkit-scrollbar {
  display: none;
}
.carousel.no-transition {
  scroll-behavior: auto;
}
.carousel.dragging {
  scroll-snap-type: none;
  scroll-behavior: auto;
}
.carousel.dragging .card {
  cursor: grab;
  user-select: none;
}

.carousel .card {
  scroll-snap-align: start;
  list-style: none;
  border: 1px solid #e1e1e1;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  background-color: #ffffff;
  cursor: pointer;
  padding: 20px;
  padding-bottom: 15px;
  flex-direction: column;
  border-radius: 5%;
}
.carousel li{
  margin-top: 10px;
}
.carousel li:hover {
  transform: translateY(-5px);
}
/* .carousel .card .img:hover {
  transform: translateY(-2px);
} */
.carousel .img {
  border-radius: 5%;
}
.card .img img {
  width: 98%;
  height: 220px;
  border-radius: 6%;
  object-fit: cover;
  border: 4px solid #fff;
}
.carousel .card h2 {
  font-weight: 600;
  width: 100%;
  font-size: 1.2rem;
  margin: 5px 0 5px;
  margin-left: 0.1625rem;
}
.carousel .card span {
  color: blue;
  padding-top: 15px;
  text-align: start;
  margin-left: 0.1625rem;
  font-size: 1.31rem;
  margin-top: 0px;
}

/* Slider end */

/*! Trend Haber Start */
.trend-haberler-baslik {
  margin-top: 40px;
}
.trend-haberler-baslik h2 {
  margin-top: 8px;
}
.trend-haber-wrapper {
  width: 1200px;
  height: auto;
  margin-top: 10px;
}
.trend-haber-grid {
  width: 76.125rem;
  display: grid;
  grid-template-columns: 4fr 2fr 2fr;
  grid-template-rows: repeat(4, 8rem);
  grid-auto-flow: column;
  gap: 20px;
}
.trend-haber-grid .trend-grid-item {
  padding: 20px 20px 5px 20px;
  background: rgba(0, 0, 0, 0.25)
    url(https://www.keyofchange.com/UPLOAD/URUN/1920/bulut-10070652498.jpg);
  background-blend-mode: darken;
  background-size: cover;
  background-position: center;
  border-radius: 3%;
  cursor: pointer;
  transition: all 0.3s ease-in;
  -moz-transition: all 0.3s ease-in;
  -webkit-transition: all 0.3s ease-in;
  -ms-transition: all 0.3s ease-in;
}
.trend-haber-grid .trend-grid-item:hover {
  z-index: 2;
  -webkit-transform: scale(1.05);
  -ms-transform: scale(1.05);
  -moz-transform: scale(1.05);
  transform: scale(1.05);
}
.trend-grid-item:first-child {
  grid-area: 1 / 1 / 5 / 2;
  padding-bottom: 0px;
}
.trend-grid-item:nth-child(2) {
  grid-area: 1 / 2 / 3 / 2;
}
.trend-grid-item:nth-child(3) {
  grid-area: 3 / 2 / 5 / 3;
}
.trend-grid-item:nth-child(4) {
  grid-area: 1 / 3 / 3 / 4;
}
.trend-grid-item:nth-child(5) {
  grid-area: 3 / 3 / 5 / 4;
  margin-left: 0;
}
.trend-grid-item img {
  height: 100%;
  width: 100%;
  object-fit: cover;
  border-radius: 5%;
}
.trend-grid-item-yazi {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.trend-kucuk-resim {
  display: flex;
  align-items: center;
}
.trend-kucuk-tarih {
  display: flex;
  flex-direction: column;
  margin-left: 8px;
  gap: 5px;
}
.trend-kucuk-tarih span {
  color: #fff !important;
  font-size: 0.9rem;
}
.trend-grid-item-yazi h2 {
  margin-top: 5px;
  width: 100%;
  color: #fff;
  font-size: 1rem;
}
.trend-grid-item-yazi span {
  color: white;
}
.trend-grid-item-yazi img {
  height: 50px;
  width: 50px;
  border-radius: 100%;
}

/*! Trend Haber End */

/*! Ayın Yazıları Start */
.ayin-yazilari-wrapper {
  width: 1200px;
  height: auto;
  margin-top: 10px;
}
.ayin-yazilar-baslik {
  margin-top: 40px;
}
.ayin-yazilar-baslik h2 {
  margin-top: 5px;
  height: 20px;
}
.ayin-yazilari-grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(3, 6rem);
  grid-auto-flow: column;
  gap: 1rem;
}
.ayin-yazilari-grid .grid-item {
  display: flex;
  align-items: center;
  padding-left: 0;
  cursor: pointer;
  border-bottom: solid 0.0625rem #e1e1e1;
}
.ayin-yazilari-grid .grid-item img {
  width: 5rem;
  height: 4.375rem;
  object-fit: cover;
  border-radius: 5%;
}
.ayin-yazilari-grid .grid-item:hover {
  transform: scale(1.01);
}
.ayin-yazilari-grid .grid-item:nth-child(3n + 3) {
  border-bottom: none;
}
.ayin-yazilari-grid .grid-item h2 {
  font-size: 1.15rem;
  margin-left: 10px;
}
.ayin-yazilari-grid .grid-item span {
  color: #6a6d78;
  font-size: 1.15rem;
  margin: 0;
  margin-left: 10px;
}
.ayin-yazilari-grid .grid-item a > h2 {
  transition: color 0.4s ease;
  margin-bottom: 0;
}
.ayin-yazilari-grid .grid-item a > h2:hover {
  color: gray;
}
/*! Ayın Yazıları End */

/*! Buyuk Slider Start */
.dark-backround {
  display: flex;
  flex-direction: column;
  margin-top: 100px;
  padding-bottom: 60px;
  background-color: #1c1b1a;
}
.buyuk-slides-items {
  display: flex;
  flex-direction: row;

  margin: 0;
  padding: 0;
}

.buyuk-slide-baslik {
  width: 75rem;
  display: flex;
  flex-direction: column;
  align-items: start;
  margin-top: 80px;
}
.buyuk-slide-baslik h2 {
  margin-top: 8px;
  height: 10px;
}
.buyuk-slide-container {
  margin-top: 30px;
  width: 75rem;
  height: 40.875rem;
  position: relative;
  box-shadow: 0 0 8px 2px rgba(0, 0, 0, 0.2);
  border-radius: 3%;
}
.buyuk-slide-container .buyuk-slides {
  width: 100%;
  height: calc(100% - 40px);
  position: relative;
  overflow: hidden;
}
.buyuk-slides .buyuk-slides-item #resim-1 {
  width: 100%;
  height: 100%;
  position: absolute;
  object-fit: cover;
  border-radius: 3%;
  opacity: 1;
}

.buyuk-slides .buyuk-slides-item #resim-1:not(.buyuk-slides-img-active) {
  top: 0;
  left: -100%;
}

.buttons-buyuk-slider .next,
.prev {
  position: absolute;
  top: 50%;
  color: #eee;
  transform: translateY(-50%);
  padding: 14px;
  font-size: 24px;
  font-weight: bold;
  transition: 0.5s;
  border-radius: 3px;
  user-select: none;
  cursor: pointer;
  z-index: 1;
}
.buttons-buyuk-slider .next {
  right: 20px;
}
.buttons-buyuk-slider .prev {
  left: 20px;
}

.buttons-buyuk-slider .next:hover,
.buttons-buyuk-slider .prev:hover {
  background-color: #ede6d6;
  opacity: 0.8;
  color: #222;
}

.dotsContainer {
  position: absolute;
  bottom: 5px;
  z-index: 3;
  left: 50%;
  transform: translateX(-50%);
}

.dotsContainer .dot {
  width: 15px;
  height: 15px;
  margin: 0 2px;
  border: 3px solid #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
  cursor: pointer;
}

.dotsContainer .active {
  background-color: #555;
}

.buyuk-slide-icerik {
  color: #fff;
  height: 97%;

  padding: 20px 20px 20px 20px;
  position: absolute;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.buyuk-slide-icerik .ust-baslik {
  display: flex;
  align-items: center;
}
.buyuk-slide-icerik .ust-baslik .ust-baslik-tarih {
  display: flex;
  flex-direction: column;
  margin-left: 10px;
  gap: 6px;
}
.buyuk-slide-icerik .ust-baslik .ust-baslik-resim img {
  width: 50px;
  height: 50px;
  border-radius: 100%;
  object-fit: cover;
}
.buyuk-slide-icerik .ust-baslik .ust-baslik-tarih span {
  color: #fff;
  font-size: 1rem;
}
.buyuk-slide-icerik .ust-baslik .ust-baslik-tarih h2 {
  color: #fff;
  font-size: 1.5rem;
}
.buyuk-slide-paragraf {
  padding-bottom: 5px;
}
.buyuk-slide-icerik .buyuk-slide-paragraf h2 {
  margin-top: 8px;
  margin-bottom: 12px;
  color: #fff;
  opacity: 0;
}
.buyuk-slide-icerik .buyuk-slide-paragraf #h2-span {
  font-size: 1rem;
  width: 60%;
}
.buyuk-slide-icerik .buyuk-slide-paragraf.active h2 {
  opacity: 1;
}
@keyframes next1 {
  from {
    left: 0%;
  }
  to {
    left: -100%;
  }
}
@keyframes next2 {
  from {
    left: 100%;
  }
  to {
    left: 0%;
  }
}
@keyframes prev1 {
  from {
    left: 0%;
  }
  to {
    left: 100%;
  }
}
@keyframes prev2 {
  from {
    left: -100%;
  }
  to {
    left: 0%;
  }
}
/*! Buyuk Slider End */

/*! En Son Yazılar Start */
.en-son-yazilar-wrapper {
  display: flex;
  width: 1200px;
  height: auto;
  margin-top: 10px;
}
.en-son-yazilar-sol {
  width: 800px;
}


.en-son-yazilar-baslik {
  margin-top: 40px;
}
.en-son-yazilar-baslik h2 {
  margin-top: 8px;
  margin-bottom: 0px;
}
.en-son-yazilar-baslik span {
  color: #6a6d78;
  font-size: 1rem;
}
.en-son-yazilar-grid-sol {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 0.5rem;
}
.en-son-yazilar-grid-sol-item {
  display: flex;
  padding: 20px;
  padding-left: 0;
  flex-direction: column;
}
/* .en-son-yazilar-grid-sol-item:hover{
    transform: scale(1.01);
  } */

.en-son-yazilar-grid-sol-item a {
  transition: color 0.4s ease;
}
.en-son-yazilar-grid-sol-item a:hover {
  color: #6a6d78;
}
.en-son-yazilar-grid-sol-item img {
  width: 23rem;
  height: 18rem;
  object-fit: cover;
  border-radius: 5%;
  transition: transform 0.4s ease-in-out;
}
.en-son-yazilar-grid-sol-item img:hover {
  transform: scale(1.02);
}
.en-son-yazilar-grid-sol-item h2 {
  display: flex;
  margin-top: 8px;
  align-items: center;
  font-size: 1.15rem;
}
.en-son-yazilar-grid-sol-item .alt-title {
  color: blue;
  font-size: 1rem;
  margin-top: 8px;
  cursor: pointer;
}
.en-son-yazilar-grid-sol-item span {
  color: #6a6d78;
  font-size: 1rem;
}
.en-son-yazilar-grid-sol-item-alt {
  display: flex;
  margin-top: 15px;
  justify-content: space-between;
  width: 100%;
}
.en-son-yazilar-grid-sol-item-alt-tarih {
  display: flex;
  flex-direction: row;
}
.en-son-yazilar-grid-sol-item-alt-tarih img {
  width: 2.4rem;
  height: 2.4rem;
  border-radius: 100%;
  object-fit: cover;
  cursor: pointer;
}
.en-son-yazilar-grid-sol-item-alt-tarih-resim {
  display: flex;
}
.en-son-yazilar-grid-sol-item-alt-tarih-baslik {
  display: flex;
  flex-direction: column;
  margin-left: 8px;
}
.en-son-yazilar-grid-sol-item-alt-tarih-baslik span:first-child {
  color: black;
  font-weight: 500;
}
.en-son-yazilar-grid-sol-item-alt-tarih-baslik span:last-child {
  font-size: 0.85rem;
  margin-top: 4px;
}
.en-son-yazilar-grid-sol-item-alt-button {
  display: flex;
  align-items: center;
  justify-content: center;
}
.en-son-yazilar-grid-sol-item-alt-button a {
  color: blue;
  font-size: 1rem;
  padding: 10px 20px 10px 20px;
  border: solid 0.0625rem #ede6d6;
  transition: 0.4s ease-in-out;
}
.en-son-yazilar-grid-sol-item-alt-button a:hover {
  background-color: blue;
  color: white;
}
.yukleniyor-button {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  margin-top: 20px;
}
.yukleniyor-button a {
  color: #fff;
  font-size: 1rem;
  background-color: blue;
  padding: 15px 130px 10px 130px;
}

.en-son-yazilar-sag {
  display: flex;
  flex-direction: column;
  width: 100%;
  margin-left: 2%;
 
}
.en-son-yazilar-grid-sag {
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  gap: 1.3rem;
 
}
.en-son-yazilar-grid-sag-item {
  display: flex;
  padding: 0px 20px 20px 0px;
  padding-left: 0;
  align-items: center;
  border-bottom: solid 0.0625rem #e1e1e1;
}
.en-son-yazilar-grid-sag-item img {
  width: 4.5rem;
  height: 4.5rem;
  object-fit: cover;
  border-radius: 10%;
}
.en-son-yazilar-grid-sag-item h2 {
  font-size: 1rem;
  width: 70%;
  margin-left: 8px;
  margin-bottom: 0;
}
.en-son-yazilar-grid-sag-item span {
  color: #6a6d78;
  font-size: 1rem;
  margin-left: 8px;
}
.en-son-yazilar-grid-sag-item a {
  transition: color 0.4s ease;
}
.en-son-yazilar-grid-sag-item a:hover {
  color: #6a6d78;
}
/*! En Son Yazılar End */

#go-top {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: fixed;
  bottom: 40px;
  right: 40px;
  opacity: 0;
  pointer-events: none;
  z-index: 999;
  transform: translateY(80px);
  -moz-transition: all 0.3s;
  -webkit-transition: all 0.3s;
  -o-transition: all 0.3s;
  transition: all 0.3s;
}
#go-top span {
  color: gray;
  font-size: 1rem;
  margin-top: 7px;
}
#go-top.show {
  opacity: 1;
  pointer-events: initial;
  transform: translateY(0);
}
/* İletisim Form Start */
.sticky-container{
  position: sticky;
  top: 75px;
  margin-top: 30px;
}
.iletisim-form{
  
  display: flex;
  flex-direction: column;
  
  padding: 20px;
  background-color: #363D4B;
  border-radius: 5%;
}
.iletisim-form-baslik h2{
  color: white;
  text-align: center;
  margin-bottom: 15px;
} 
.primary-button{
  background-color: #f27405;
  color: white;
  width: 100%;
    height: 3.5rem;
    font-size: 1rem;
    display: flex;
    font-weight: 500;
    justify-content: center;
    align-items: center;
    border: 1px solid transparent;
    border-radius: 0.25rem;
    text-decoration: none;
    cursor: pointer;
}
.iletisim-form-input{
  display: flex;
  flex-direction: column;
  row-gap: 20px;
}
.iletisim-form-input .form-control{
  display: block;
  width: 90%;
  padding: 0.75rem 1rem;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
  color: #212529;
  background-color: #fff;
  background-clip: padding-box;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  border-radius: 0.375rem;
  transition: border-color .15s ease-in-out, box-shadow .15s ease-in-out;
 
}
.riza-metni{
  display: flex;
  justify-content: end;
  align-items: center;
  column-gap: 3px;
}
.riza-metni span{
  font-size: .8rem;
  color: white;
}
/* İletisim Form End */
/*! Footer Start */
footer ul {
  padding: 0;
}
footer {
  margin-top: 30px;
  width: 100%;
  height: auto;
  background-color: #1c1b1a;
  display: flex;
  flex-direction: column;
 
}
.footer-content {
  padding-top: 20px;
  padding-left: 210px;
  display: grid;
  grid-template-columns: 0.6fr 0.8fr 0.5fr 1fr;
  grid-template-rows: repeat(1, auto);
}
.footer-content h2 {
  color: #f27405;
  font-size: 18px;
}

footer ul.f-buttons {
  padding: 0;
}
footer a {
  color: #7a7a7a;
  font-size: 17px;
}
footer ul.f-buttons li a {
  padding: 12px 18px;
  display: flex;
  align-items: center;
  background: #333231;
  margin-top: 10px;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  -ms-border-radius: 4px;
  border-radius: 4px;
  -moz-transition: all 0.3s;
  -webkit-transition: all 0.3s;
  -o-transition: all 0.3s;
  transition: all 0.3s;
  color: #fff;
}
.f-adress {
  font-weight: 500;
  margin-top: 40px;
}
.f-adress p {
  line-height: 24px;
  font-size: 18px;
}
.f-buttons {
  margin-top: 40px;
}

.f-item-1-logo img {
  width: 13.125rem;
}
.f-buttons span {
  font-size: 20px;
  margin-left: 10px;
  font-weight: bold;
}

.f-buttons li a:hover {
  background: #7a7773;
  color: white;
}
footer .footer-bottom a {
  color: #7a7773;
}
.footer-bottom {
  height: 80px;
  margin-top: 60px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
  width: 100%;
  border-top: 1px solid #7a7773;
  color: #7a7773;
}
.footer-bottom a {
  transition: color 0.4s ease;
  font-size: 14px;
}
.footer-bottom a:hover {
  color: #fff;
}
.footer-bottom span {
  font-size: 14px;
}
.f-item-2 {
  padding-left: 100px;
}
.f-item-1,
.f-item-2,
.f-item-3,
.f-item-4 {
  margin-top: 40px;
}

.f-item-2 ul li {
  margin-bottom: 15px;
}

.f-item-3 ul li {
  margin-bottom: 15px;
}

.f-item-4 ul {
  display: flex;
}
.f-item-4 ul li {
  margin-right: 15px;
}
.f-item-4 ul li a {
  background: #333231;
  width: 36px;
  height: 36px;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  -ms-border-radius: 4px;
  border-radius: 4px;
  display: flex;
  align-items: center;
  justify-content: center;
  -moz-transition: all 0.3s;
  -webkit-transition: all 0.3s;
  -o-transition: all 0.3s;
  transition: all 0.3s;
}
.f-item-4 ul li a:hover {
  background: #555;
}
.f-item-2 ul li a {
  position: relative;
  transition: color 0.4s ease;
}
.f-item-2 ul li a::after {
  content: "";
  position: absolute;
  width: 0;
  height: 2px;
  background: #f27405 !important;
  left: 0;
  bottom: 0;
  -webkit-transition: width 0.4s ease;
  -moz-transition: width 0.4s ease;
  -ms-transition: width 0.4s ease;
  -o-transition: width 0.4s ease;
  transition: width 0.4s ease;
}
.f-item-2 ul li a:hover::after {
  width: 100%;
}
.f-item-2 ul li a:hover {
  color: white !important;
}
.f-item-3 ul li a {
  position: relative;
  transition: color 0.4s ease;
}
.f-item-3 ul li a:hover {
  color: white !important;
}
.f-item-3 ul li a::after {
  content: "";
  position: absolute;
  width: 0;
  height: 2px;
  background: #f27405 !important;
  left: 0;
  bottom: 0;
  -webkit-transition: width 0.4s ease;
  -moz-transition: width 0.4s ease;
  -ms-transition: width 0.4s ease;
  -o-transition: width 0.4s ease;
  transition: width 0.4s ease;
}
.f-item-3 ul li a:hover::after {
  width: 100%;
}
/*! Footer End */
.menu {
  display: none;
}
.iletisim-button {
  display: flex;
  justify-content: space-between;
 
}
.linkedin{
  display: flex;
  
}
.youtube{
  display: flex;
}
.linkedin a {
  background-color: #0a66c2;
  padding: 15px 40px 15px 40px;
  color: #fff;
}
.youtube a {
  background-color: #ff0000;
  padding: 15px 40px 15px 40px;
  color: #fff;
}
/* Responsive Start*/
@media screen and (max-width: 1280.99px){
  #go-top{
   bottom: 10px;
   right: 10px;
  }
}
@media screen and (max-width: 1240.99px) {
  /* #go-top{} */
  #go-top.show {
    opacity: 0;
  }
  .footer-content {
    padding-left: 150px;
  }
  .ana-sayfa-resim-wrapper {
    width: 62%;
    align-items: center;
    justify-content: center;
    margin-left: 8px;
  }
  .haber-baslik h2 {
    width: 100%;
    font-size: 14px;
  }
  .trend-haber-wrapper {
    margin-left: 8px;
  }
  .trend-haber-grid {
    width: 99%;
  }
  .buyuk-slide-baslik{
width: 95%;
  }
  .ayin-yazilari-wrapper{
    width: 95%;
  }
  .buyuk-slide-container {
    width: 95%;
  }
  .en-son-yazilar-wrapper{
    width: 95%;
  }
 
  /* Menü Start */
  .menu {
    display: block;
    opacity: 0;
    visibility: hidden;
    position: fixed;
    height: 100vh;
    right: 0;
    left: 0;
    top: 0;
    z-index: 9999;
    -webkit-transition: all ease 0.5s;
    transition: all ease 0.5s;
  }
  .menu .overlay {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: #f27405;
    opacity: 0.5;
    z-index: 0;
  }
  .menu-open {
    opacity: 1;
    visibility: visible;
  }
  .menu-open .side-menu-content {
    -webkit-transform: translateX(0);
    transform: translateX(0);
  }
  .menu .side-menu-content {
    position: absolute;
    right: 0;
    top: 0;
    height: 100%;
    width: 414px;
    max-width: 100%;
    background-color: #f27405;
    z-index: 1;
    box-sizing: border-box;
    padding: 100px 50px 50px;
    box-shadow: 0 -20px 70px rgba(0, 0, 0, 0.5);
    -webkit-transform: translateX(100%);
    transform: translateX(0%);
    -webkit-transition: all ease 0.5s;
    transition: all ease 0.5s;
  }
  .menu .side-menu-content .close {
    display: inline-block;
    position: absolute;
    right: 30px;
    top: 30px;
    width: 40px;
    height: 40px;
    border: none;
    border-radius: 50%;
    color: #fff;
    background-color: rgba(255, 255, 255, 0.2);
    font-size: 25px;
    line-height: 40px;
    text-align: center;
    margin: auto;
    padding: 0;
  }
  .menu .side-menu-content nav ul {
    padding: 0 !important;
    margin-top: 0;
  }
  .menu .side-menu-content nav ul li {
    margin-bottom: 30px;
  }
  .menu .side-menu-content nav ul li a {
    font-size: 24px;
    font-weight: 600;
    color: #fff;
  }
  .menu .side-menu-content nav ul .info-btn {
    margin-bottom: 15px;
  }
  .menu .side-menu-content nav ul .info-btn a {
    color: #f27405;
    padding: 10px;
    border-radius: 5px;
    display: block;
    text-align: center;
    background-color: #fff;
  }
  /* Menu end*/

  .slider-wrapper-body,
  .container,
  .blog,
  .trend-haber-wrapper,
  .sticky-container,
  footer,html {
    overflow-x: hidden;
    scroll-behavior: none;
  }
  header
  .buyuk-slide-baslik {
    width: 95%;
  }
  .navbar-items {
    display: none;
  }

  .haber {
    width: 100%;
  }

  .wrapper {
    min-height: 75px;
  }

  .menu-button {
    display: flex;
  }

  .buttons {
    margin-left: auto;
    gap: 20px;
  }
  .buttons a {
    height: 92%;
    margin-top: 4px;
  }
  
}
@media screen and (max-width: 1100px) {
  .slide-wrapper .carousel {
    grid-auto-columns: calc((100% / 3) + 5px);
  }
  .iletisim-form-input .form-control{
    width: 95%;
    
  }
  .en-son-yazilar-grid-sol-item {
    width: auto;
  }
  .en-son-yazilar-wrapper {
    flex-direction: column;
    align-items: center;
  }
  .en-son-yazilar-sol {
    margin: 0;
  }
  .en-son-yazilar-sag {
    width: 800px;
    margin: 0;
  }
}
@media screen and (max-width: 1024px) {
 
  
  .en-son-yazilar-sag{
    margin: auto;
    margin-left: 10px;
    width: 95%;
  }
  .en-son-yazilar-wrapper {
    margin-left: 16px;
  }
  .footer-content {
    padding-left: 100px;
    grid-template-columns: 1fr 1fr;
  }
  .ayin-yazilari-wrapper {
    margin-left: 8px;
  }
  .haber-baslik h2 {
    margin-top: 12px;
  }
  .haber-baslik span {
    margin-top: 13px;
  }
  .ayin-yazilari-grid {
    width: 95%;
    grid-template-columns: repeat(1, 1fr);
    grid-template-rows: repeat(9, 5rem);
  }
  .ayin-yazilari-grid .grid-item:nth-child(3n + 3) {
    border-bottom: 1px solid #e1e1e1;
  }
  .buyuk-slide-container {
    width: 95%;
  }

  .trend-haber-wrapper {
    margin-left: 8px;
  }
  .trend-haber-grid {
    width: 99%;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: repeat(12, 10rem);
  }
  .trend-grid-item:first-child {
    grid-area: 1 / 1 / 5 / 4;
  }
  .trend-grid-item:nth-child(2) {
    grid-area: span 2 / 1 / 7 / 4;
  }
  .trend-grid-item:nth-child(3) {
    grid-area: span 2 / 1 / 9 / 4;
  }

  .trend-grid-item:nth-child(4) {
    grid-area: span 2 / 1 / 11 / 4;
  }
  .trend-grid-item:nth-child(5) {
    grid-area: span 2 / 1 / 13 / 4;
  }

  .ana-sayfa-resim-wrapper {
    width: 98%;
    margin-left: 8px;
  }

  .buttons-menu {
    gap: 10px !important;
  }

  .en-son-yazilar-wrapper {
    width: 100%;
  }
  .ana-sayfa-sag-yazi {
    justify-content: start;
  }
  .ana-sayfa-sag {
    width: 100%;
    margin-top: 40px;
    margin-left: -30px !important;
  }

  .blog {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: start;
  }
}

@media screen and (max-width: 900px) {
  .slide-wrapper .carousel {
    grid-auto-columns: calc((100% / 2) + 5px);
  }
}
@media screen and (max-width: 768.98px) {
  #mail-icon {
    font-size: 0 !important;
  }
  .en-son-yazilar-wrapper {
    margin-left: 0px;
  }
  .footer-content {
    padding-left: 50px;
    grid-template-columns: 1fr 1fr;

    width: 85%;
  }
  .footer-content .f-item-1 {
    grid-column: 1 / span 2;
  }
  .footer-content .f-item-2 {
    padding-left: 0;
  }
  .en-son-yazilar-grid-sol-item {
    width: 100%;
  }
  .en-son-yazilar-grid-sol-item a img {
    width: 100%;
  }
  .en-son-yazilar-wrapper {
    flex-direction: column;
    align-items: center;
  }
  .en-son-yazilar-sol {
    width: 90%;
    margin: 0;
  }
  .en-son-yazilar-sag {
    width: 90%;
    margin: 0;
  }

  .ana-sayfa-resim-wrapper {
    padding-bottom: 30px;
  }
  #tel-icon {
    font-size: 0 !important;
  }
  .buttons a {
    display: none;
  }

  .blog {
    display: flex;
    flex-direction: column;
    align-items: start;
  }

  .buttons-menu {
    gap: 10px !important;
  }
  .ana-sayfa-sag-yazi {
    justify-content: start;
  }
}
@media screen and (max-width: 666px) {
  .en-son-yazilar-grid-sol {
    grid-template-columns: repeat(1, 1fr);
  }
}
@media screen and (max-width: 600px) {
  .slide-wrapper .carousel {
    grid-auto-columns: calc((100% / 1) + 45px);
  }
  .dark-backround {
    height: 114vh;
  }
}
@media screen and (max-width: 568px) {
  .slide-baslik-h2 {
    font-size: 1.5rem;
  }
  .iletisim-form-input .form-control{
    width: 92.4%;
  }
  .buyuk-slide-icerik .buyuk-slide-paragraf #h2-span {
    font-size: 0.83rem;
    width: 100%;
  }
  .buyuk-slide-baslik {
    margin-left: 10px;
  }

  .trend-haber-grid {
    width: 97.5%;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: repeat(12, 6rem);
  }
  .trend-grid-item:first-child {
    grid-area: 1 / 1 / 5 / 4;
  }
  .trend-grid-item:nth-child(2) {
    grid-area: span 2 / 1 / 7 / 4;
  }
  .trend-grid-item:nth-child(3) {
    grid-area: span 2 / 1 / 9 / 4;
  }

  .trend-grid-item:nth-child(4) {
    grid-area: span 2 / 1 / 11 / 4;
  }
  .trend-grid-item:nth-child(5) {
    grid-area: span 2 / 1 / 13 / 4;
  }

  .buttons-menu {
    gap: 10px !important;
  }
  .ana-sayfa-resim-wrapper {
    width: 93%;
    margin-left: 8px;
    padding-left: 10px;
  }
  .yukleniyor-button a {
    padding: 15px 70px 15px 70px;
  }
  .menu-items li a {
    font-size: 1.5625rem !important;
  }
}
@media screen and (max-width: 428.99px) {
  .form-control{
    width: 90% !important;
  }
  .carousel .card {
    padding-right: 28px;
  }
  .ayin-yazilari-grid .grid-item h2 {
    font-size: 1.05rem;
  }
  .card .img img {
    border-radius: 7%;
  }
  .ana-sayfa-resim-baslik {
    margin-top: 35px;
    padding-top: 0;
    width: 50dv;
  }
  .trend-haberler-baslik {
    margin-bottom: 0 !important;
  }
  .ana-sayfa-resim-tarih {
    height: 100px;
  }
  .ana-sayfa-resim-paragraf {
    margin-top: 150px;
    padding-top: 0 !important;
  }
  .haber {
    width: 105%;
  }
  .haber-baslik h2 {
    margin-top: 5px;
    width: 80%;
  }
  .footer-content{
    padding-left: 30px;
  }
  .f-item-3 {
    padding-left: 0;
    margin-left: -40px;
  }
  .footer-bottom{
    padding: 30px 0px 20px 0px;
    flex-direction: column;
    row-gap: 30px;
    height: auto;
  }
  /*!Bakılacak  */
  /* .slider-wrapper-body{
    align-items: start;
    margin-left: -25px;
  } */
}
@media screen and (max-width: 368.99px) {
  .haber-baslik h2{
    font-size: 12px;
  }
  .en-son-yazilar-grid-sol-item-alt-button a{
    font-size: .9rem;
    padding: 10px 10px 10px 10px;
  }
  .f-buttons li {
   width: 85%;
  }
  .footer-content .f-item-2{
    width: 70% !important;
  }
 
 
}
/* Responsive end */
